<a href="https://colab.research.google.com/github/Shivani11032006/codes/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male","Female","Female","Male"],
    "subscription_status": ["Active","Inactive","Active","Inactive"]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

label_encoder = LabelEncoder()

df['gender_encoded'] = label_encoder.fit_transform(df['gender'])

df['subscription_status_encoded'] = label_encoder.fit_transform(df['subscription_status'])

print("\nDataFrame After Label Encoding:")
print(df)

Original DataFrame:
   customer_id  gender subscription_status
0            1    Male              Active
1            2  Female            Inactive
2            3  Female              Active
3            4    Male            Inactive

DataFrame After Label Encoding:
   customer_id  gender subscription_status  gender_encoded  \
0            1    Male              Active               1
1            2  Female            Inactive               0
2            3  Female              Active               0
3            4    Male            Inactive               1

   subscription_status_encoded
0                            0
1                            1
2                            0
3                            1

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male","Female","Female","Male"],
    "city": ["New York","London","Paris","Tokyo"]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
one_hot_encoder = OneHotEncoder(sparse_output=False)
columns_to_encode = ["gender", "city"]
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)
df = pd.concat([df, encoded_df], axis=1)
df.drop(columns=columns_to_encode, inplace=True)
print("\nDataFrame After One-Hot Encoding:")
print(df)

Original DataFrame:
   customer_id  gender      city
0            1    Male  New York
1            2  Female    London
2            3  Female     Paris
3            4    Male     Tokyo

DataFrame After One-Hot Encoding:
   customer_id  gender_Female  gender_Male  city_London  city_New York  \
0            1            0.0          1.0          0.0            1.0
1            2            1.0          0.0          1.0            0.0
2            3            1.0          0.0          0.0            0.0
3            4            0.0          1.0          0.0            0.0

   city_Paris  city_Tokyo
0         0.0         0.0
1         0.0         0.0
2         1.0         0.0
3         0.0         1.0

In [10]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample dataset
data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "subscription_status": ["Active", "Inactive", "Active", "Inactive"],
    "city": ["CityA", "CityB", "CityA", "CityC"]
}

# Create a DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Initialize OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False)

# Define columns to encode
columns_to_encode = ['gender', 'city']

# Fit and transform the data
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

# Get encoded column names
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)

# Create a DataFrame for the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Concatenate original DataFrame with encoded data
encoded_df_complete = pd.concat([df, encoded_df], axis=1)

# Add ranking columns
encoded_df_complete['gender_rank'] = encoded_df_complete['gender'].rank(method='average').astype(int)
encoded_df_complete['subscription_status_rank'] = encoded_df_complete['subscription_status'].rank(method='average').astype(int)
encoded_df_complete['city_rank'] = encoded_df_complete['city'].rank(method='average').astype(int)

print("\nDataFrame After One-Hot Encoding and Ranking:")
print(encoded_df_complete)

Original DataFrame:
   customer_id  gender subscription_status   city
0            1    Male              Active  CityA
1            2  Female            Inactive  CityB
2            3  Female              Active  CityA
3            4    Male            Inactive  CityC

DataFrame After One-Hot Encoding and Ranking:
   customer_id  gender subscription_status   city  gender_Female  gender_Male  \
0            1    Male              Active  CityA            0.0          1.0
1            2  Female            Inactive  CityB            1.0          0.0
2            3  Female              Active  CityA            1.0          0.0
3            4    Male            Inactive  CityC            0.0          1.0

   city_CityA  city_CityB  city_CityC  gender_rank  subscription_status_rank  \
0         1.0         0.0         0.0            3                         1
1         0.0         1.0         0.0            1                         3
2         1.0         0.0         0.0            1                         1
3         0.0         0.0         1.0            3                         3

   city_rank
0          1
1          3
2          1
3          4

In [14]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample dataset
data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "subscription_status": ["Active", "Inactive", "Active", "Inactive"],
    "city": ["cityA", "cityB", "cityA", "cityC"],
    "vegetables": ["potato", "tomato", "carrot", "brinjal"],
    "fruits": ["apple", "banana", "orange", "mango"]
}

# Create a DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Initialize OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False)

# Define columns to encode
columns_to_encode = ['gender', 'city', 'vegetables', 'fruits']

# Fit and transform the data
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

# Get encoded column names
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)

# Create a DataFrame for the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Concatenate original DataFrame with encoded data
encoded_df_complete = pd.concat([df, encoded_df], axis=1)

# Add ranking columns
encoded_df_complete['gender_rank'] = encoded_df_complete['gender'].rank(method='average').astype(int)
encoded_df_complete['subscription_status_rank'] = encoded_df_complete['subscription_status'].rank(method='average').astype(int)
encoded_df_complete['city_rank'] = encoded_df_complete['city'].rank(method='average').astype(int)

print("\nDataFrame After One-Hot Encoding and Ranking:")
print(encoded_df_complete)

Original DataFrame:
   customer_id  gender subscription_status   city vegetables  fruits
0            1    Male              Active  cityA     potato   apple
1            2  Female            Inactive  cityB     tomato  banana
2            3  Female              Active  cityA     carrot  orange
3            4    Male            Inactive  cityC    brinjal   mango

DataFrame After One-Hot Encoding and Ranking:
   customer_id  gender subscription_status   city vegetables  fruits  \
0            1    Male              Active  cityA     potato   apple
1            2  Female            Inactive  cityB     tomato  banana
2            3  Female              Active  cityA     carrot  orange
3            4    Male            Inactive  cityC    brinjal   mango

   gender_Female  gender_Male  city_cityA  city_cityB  ...  vegetables_carrot  \
0            0.0          1.0         1.0         0.0  ...                0.0
1            1.0          0.0         0.0         1.0  ...                0.0
2            1.0          0.0         1.0         0.0  ...                1.0
3            0.0          1.0         0.0         0.0  ...                0.0

   vegetables_potato  vegetables_tomato  fruits_apple  fruits_banana  \
0                1.0                0.0           1.0            0.0
1                0.0                1.0           0.0            1.0
2                0.0                0.0           0.0            0.0
3                0.0                0.0           0.0            0.0

   fruits_mango  fruits_orange  gender_rank  subscription_status_rank  \
0           0.0            0.0            3                         1
1           0.0            0.0            1                         3
2           0.0            1.0            1                         1
3           1.0            0.0            3                         3

   city_rank
0          1
1          3
2          1
3          4

[4 rows x 22 columns]